<!DOCTYPE html>
<html ng-app="tzxblog">
<head>
      <title>tzxblog</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
      <!-- 引入 Bootstrap -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="outjs/jquery-3.2.1.min.js"></script>
      <script src="outjs/bootstrap.min.js"></script>
      <script src="outjs/popper.min.js"></script>
      <script src="outjs/showdown.min.js"></script>
      <script src="outjs/angular.min.js"></script>
      <script src="myjs/index.js"></script>
</head>
<body>   
    <div class="container" ng-controller="tzxctr">
    <center><h1>my local file manager</h1></center>
    <div class="row">
        <div class="col-md-4 col-md-offset-8" >
        	<ul class="list-unstyled list-inline">
        	  <li><input type="text" id="search"></input></li>
        	  <li><input type="button" value="搜索" ng-click="search()"></input></li>
        	  <!-- <li><a href="">写博客</a></li>-->
        	  <li><a href="http://localhost:8080/MyLocalFileManage">首页</a></li> 
        	</ul>
        </div>
    </div>
    
    <hr/>
    <div class="row">
        <!-- 左侧边栏-->
        <div class="col-md-2" ng-init="typelist=getIndex();">
            <h4>文章分类</h4>
                <ul class="list-group" >
                    <!-- angularjs遍历类型集合 -->
    				<li class="list-group-item" ng-repeat="type in typelist"><a href="#" ng-click="getTypeList(type);">{{type}}</a></li>
				</ul>
        </div>
        <!-- 右侧内容区  -->
        <div class="col-md-9 col-md-offset-1" id="content">
			<ul class="list-unstyled">
        	  <li ng-repeat="blog in blogs">
        	     <h4><a href="#" ng-click="getBlogInfo(blog.filePath);">{{blog.fileName}}</a></h4>
        	               分类：{{blog.fileType}}&nbsp;&nbsp;保存位置：{{blog.filePath}}
        	     <hr/>
        	  </li>
        	</ul>
        	<ul class="list-unstyled list-inline">
        	  <center><a href="#" ng-click="getPage('last');">&lt;</a>&nbsp;
        	  <li ng-repeat="page in pages" style="display:inline">
        	     <a href="#" ng-click="getPage(page);">{{page}}</a>&nbsp;
        	  </li>&nbsp;<a href="#" ng-click="getPage('next');">&gt;</a>
        	  </center>
        	</ul>
        	
        </div>
        <div class="col-md-9 col-md-offset-1" id="content1">
			<!-- <ul class="list-unstyled">
        	  <li ng-repeat="blog in blogs">
        	     <h4><a href="#" ng-click="getBlogInfo(blog.filePath);">{{blog.fileName}}</a></h4>
        	               分类：{{blog.fileType}}&nbsp;&nbsp;保存位置：{{blog.filePath}}
        	     <hr/>
        	  </li>
        	</ul> -->
        </div>
    </div>
</div>

</body>
</html>
